:root {
  --font-family-text: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-family-code: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono', monospace;
}

* {
  font-weight: 400 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500 !important;
  line-height: 1.3;
}

code, pre {
  font-weight: 400 !important;
}

.tsd-accordion-details a,
.tsd-accordion a {
  font-weight: 400 !important;
}

.tsd-breadcrumb,
.tsd-page-navigation {
  font-weight: 400 !important;
}

table {
  font-weight: 400 !important;
}

button {
  font-weight: 500 !important;
}

/*
* Mute text colors a little bit, using Tailwind colors
* Looks much better. Tailwind devs know their colors.
* */
@media (prefers-color-scheme: light) {
  :root {
    --color-text: #334155;
    --color-text-aside: #64748b;
    --color-link: #3b82f6;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #cbd5e1;
    --color-text-aside: #94a3b8;
    --color-link: #7dd3fc;
  }
}
