name: 'Lint Codebase'
on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5

            - name: Install pnpm
              uses: pnpm/action-setup@v4
              with:
                  version: latest

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: latest
                  cache: 'pnpm'

            # Install dependencies, and lint
            - run: pnpm install --frozen-lockfile
            - run: pnpm run lint
